.container {
    width: 1000px;
    margin:0 auto;
}
.form-group {
    margin-bottom: 20px;
}
#plugin_settings_contact_form .has-error {
    border-color: red;
}
#plugin_settings_contact_form .has-success {
    border-color: green;
}
.text-success {
    color: green;
}
.text-danger {
    color: red;
}
.original {
    white-space: pre-wrap
}
